h1{text-align:center;color:#333;font-weight:300;margin-bottom:0}
.sugar-search{margin-top:80px;margin-bottom:80px}
.category ul{list-style-type:none;padding-left:0;margin-top:20px}
#widgets .widget{float:left;margin-right:20px;width:30%;min-height:280px}
@media (max-width:768px){#widgets .widget{max-width:none;width:100%}}
